.TopNav-main {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    width: auto;
    padding: 0;
    border-right: 0;
    overflow-y: inherit;
    display: block;
    border-bottom: 1px solid rgba(28, 39, 60, 0.12);
    visibility: visible;
    transform: none;
    z-index: auto;
}

.TopNav-main .nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
}

.TopNav-main .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.TopNav-main .SubHeader-navbar {
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .TopNav-main .SubHeader-navbar {
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        padding: 0;
    }
}
