.Toolbar-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em
}

.Toolbar-main > * {
    margin-right: 10px;
}

.Toolbar-separator {
    width: 1px;
    border-left: 2px solid gray;
    height: 25px;
}

/* Inline forms in toolbar */

.Toolbar-main .form-group {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Toolbar-main .form-group label {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0
}

.Toolbar-main .form-group .form-control {
    width: auto;
}