.Form-main {
    margin-top: 1em;
}

.required-asterisk {
    margin-left: 0.5rem;
    color: #ff0000
}

.form-control-dialog-list {
    background-color: #f0f0f0;
}

.form-text-data {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    font-weight: 600;
}

/* BuilderForm */

.BuilderForm-main .form-group > .form-label {
    margin-bottom: 0;
}

.BuilderForm-group {
    margin-bottom: 1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .BuilderForm-main .form-group > .form-control[type="text"] {
        width: 75%;
    }

    .BuilderForm-main .form-group > .form-control[type="date"] {
        width: 75%;
    }

    .BuilderForm-main .form-group > .form-control[type="number"] {
        width: 65%;
    }

    .BuilderForm-main .form-group > select.form-control {
        width: 85%;
    }

    .BuilderForm-main .BuilderForm-dialogListInput > .input-group {
        width: 85%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Text/Custom Inputs */
    .BuilderForm-main .form-group > .form-control[type="text"] {
        width: 85%;
    }
    /* Date Inputs */
    .BuilderForm-main .form-group > .form-control[type="date"] {
        width: 85%;
    }
    /* Numerical Inputs */
    .BuilderForm-main .form-group > .form-control[type="number"] {
        width: 50%;
    }
    /* Item Selection Inputs */
    .BuilderForm-main .form-group > select.form-control {
        width: 85%;
    }
    /* Dialog-Based Item Selection Inputs */
    .BuilderForm-main .BuilderForm-dialogListInput > .input-group {
        width: 85%;
    }
}

/* BuilderForm Tabs */

.BuilderForm-main .tab-content {
    padding: 0 1rem;
}

.BuilderForm-main .nav-tabs {
    border: 0;
    background-color: rgb(96,119,153);
}

.BuilderForm-main .nav-tabs > .nav-link {
    border: 0;
    padding: 0.25rem 1rem;
    color: rgb(249,249,249) !important;
}

.BuilderForm-main .nav-tabs > .nav-link.active {
    background-color: transparent;
    font-weight: 700;
}

/* BuilderForm Subtabs */

.BuilderForm-main .tab-content .nav-tabs {
    border: 0;
    background-color: rgb(224,230,239);
}

.BuilderForm-main .tab-content .nav-tabs > .nav-link {
    border: 0;
    padding: 0.25rem 1rem;
    color: rgb(36,56,91) !important;
}

.BuilderForm-main .tab-content .tab-content {
    padding: 0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.MultiTableEntry-table {
    overflow-x: auto;
}

.MultiTableEntry-table {
    margin-bottom: 0;

	width: 100%;
}

.MultiTableEntry-table .MultiTableEntry-heading {
    background-color: #e5e5e5;
    font-weight: 400;
    color: rgb(102,102,102);
    padding: 0 0.5rem !important;
    font-size: 13px;
    font-weight: normal;

	display: table-header-group;
}

.MultiTableEntry-table .MultiTableEntry-row {
    display: table-row;
}

.MultiTableEntry-table .MultiTableEntry-body .MultiTableEntry-row {
    border: 1px solid #999999;
}

.MultiTableEntry-table .MultiTableEntry-body .MultiTableEntry-row:focus-within {
    border-top: 1px solid rgb(96,119,153);
    border-bottom: 1px solid rgb(96,119,153);
}

.MultiTableEntry-table .MultiTableEntry-head  {
    /* border: 1px solid #999999; */
	display: inline-flex !important;
    padding: 3px 10px;
    align-items: flex-end;
}

.MultiTableEntry-table .MultiTableEntry-cell {
    /* border: 1px solid #999999; */
    display: table-cell;
    height: 30px;
}

.MultiTableEntry-table .MultiTableEntry-body {
    display: table-row-group;
}

.MultiTableEntry-table .MultiTableEntry-body .MultiTableEntry-cell:not(:last-child) {
    border-right: 1px solid #999999;
}

.MultiTableEntry-table .MultiTableEntry-body input[type="text"] {
    height: 100%;
    border: 0;
}

.MultiTableEntry-table .MultiTableEntry-foot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}



.MultiTableEntry-table .selection-cell-header {
    padding: 0 !important;
    width: 5px;
}

.MultiTableEntry-table .selection-cell {
    padding: 0;
    width: 5px;
}

.MultiTableEntry-table .selection-cell .selected-row-color {
    background-color: rgb(201,201,201);
    height:100%; width:5px; position:relative;
}

.MultiTableEntry-table .selection-cell input[type="radio"]:checked ~ .selected-row-color {
    background-color: rgb(96,119,153);
}

.MultiTableEntry-table .selection-cell input[type="radio"],
.MultiTableEntry-table .selection-cell-header input[type="radio"] {
    display: none;
}

.MultiTableEntry-table input {
    font-size: 14px;
    width: 100%;
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

/* BuilderForm MultiTableEntry Toolbar */

.MultiTableEntry-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin-bottom: 1em;
    margin-left: 5px;
    background-color: rgb(210,210,210);
    padding: 0.2rem 0.5rem;
    border-bottom: rgb(96,119,153) 1px solid;
    border-left: rgb(96,119,153) 1px solid;
    border-right: rgb(96,119,153) 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.MultiTableEntry-toolbar > *:not(:last-child) {
    margin-right: 10px;
}

.MultiTableEntry-toolbar > .btn {
    padding: 0.1rem 0.5rem;
}

.MultiTableEntry-toolbar > .btn-outline-secondary {
    background-color: rgb(242,242,242);
}

.MultiTableEntry-toolbarSeparator {
    width: 1px;
    border-left: 2px solid gray;
    height: 25px;
}

/* Inline forms in MultiTableEntry toolbar */
.MultiTableEntry-toolbar .form-group {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.MultiTableEntry-toolbar .form-group label {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
}

.MultiTableEntry-toolbar .form-group .form-control {
    width: auto;
}

/* Custom Tabulator Overrides */

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
    white-space: normal !important;
}