.Header-main {
    height: 60px;
    box-shadow: 0 0 30px rgba(28, 39, 60, 0.08);
    border-bottom: 1px solid rgba(28, 39, 60, 0.12);
}

@media (min-width: 992px) {
    .Header-main {
        position: relative;
        z-index: 100;
        height: 64px;
    }
}

@media (min-width: 992px) {
    .Header-main > .container-fluid {
        padding: 0 24px;
    }
}

.Header-main > .container-fluid {
    height: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Header Items */

.Header-left {
    display: flex;
    align-items: center;
}

.Header-center {
    flex: 1;
    position: relative;
    margin: 0 50px;
    display: none;
}

@media (min-width: 992px) {
    .Header-center {
        display: block;
    }    
}

.Header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Header Search Bar */

.HeaderSearchBar-main > div {
    transition: all 0.25s ease;
    border: 1px solid rgba(79,79,79,0.0);
}

.HeaderSearchBar-main .form-control {
    left: 5px
}

.HeaderSearchBar-main .form-control:focus {
    box-shadow: none;
    outline: none;
}

.HeaderSearchBar-main.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.shadow-focus {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-focus:focus-within {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25), 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.25) !important;
}

/* Header Profile */

.HeaderProfile-main {
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HeaderProfile-thumb {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    height: 48px;
    width: 48px;
}

.HeaderProfile-layerText {
    font-size: 13px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

/* Subheader */

.SubHeader-main {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    width: auto;
    padding: 0;
    border-right: 0;
    overflow-y: inherit;
    display: block;
    border-bottom: 1px solid rgba(28, 39, 60, 0.12);
    visibility: visible;
    transform: none;
    z-index: auto;
}

.SubHeader-main .nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
}

.SubHeader-main .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.SubHeader-main .navbar {
    padding: 0.5rem 24px;
}

.nav-item-first > .nav-link {
    padding-left: 0 !important;
}