.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Bootstrap Colors */

.bg-danger-light {
  background-color: #dc35450f !important;
}

.bg-warning-light {
  background-color: #ffc1070f !important;
}

.circle {
  border-radius: 50%;
}

.modal-90w {
  width: 90%;
  max-width: none!important;
}