body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Bootstrap overrides */

.card-header {
  padding: 0.25rem 1rem;
}

.card-body {
  padding: 0.5rem 1rem;
}

.PageLayout-main {
  padding-top: 0.5rem;
  padding-left: 24px;
  padding-right: 24px;
}