/* Matrix Editor Styles */


.MatrixEditor-table {
    width: 100%;
}

.MatrixEditor-table tbody tr:first-child {
    background-color: #e5e5e5;
    font-weight: 400;
    color: rgb(102,102,102);
    padding: 0 0.5rem !important;
    font-size: 13px;
    font-weight: normal;
    padding: 3px 10px;
    align-items: flex-end;
    border: 1px solid #999999;
}

.MatrixEditor-table tbody tr th {
    padding: 0 0.5rem;
}

.MatrixEditor-table tbody tr th:not(:last-child) {
    border-right: 1px solid #999999;
}

.MatrixEditor-table tbody tr {
    border: 1px solid #999999;
}

/*
.MatrixEditor-table tbody tr:focus-within {
    border-top: 1px solid rgb(96,119,153);
    border-bottom: 1px solid rgb(96,119,153);
}
*/

.MatrixEditor-table td {
    /* border: 1px solid #999999; */
    height: 30px;
}

.MatrixEditor-table tbody td:not(:last-child) {
    border-right: 1px solid #999999;
}

.MatrixEditor-table tbody input[type="text"],
.MatrixEditor-table tbody input[type="number"],
.MatrixEditor-table tbody textarea,
.MatrixEditor-table tbody select {
    height: 100%;
    border: 0;
}

.MatrixEditor-table .MatrixEditor-foot {
	background-color: #EEE;
	font-weight: bold;
}

.MatrixEditor-table .selection-cell-header {
    padding: 0 !important;
    min-width: 5px;
}

.MatrixEditor-table .selection-cell {
    padding: 0;
    width: 3px;
}

.MatrixEditor-table .selection-cell .selected-row-color {
    background-color: rgb(201,201,201);
    height:100%; width:4px; position:relative;
}

.MatrixEditor-table .selection-cell input[type="radio"]:checked ~ .selected-row-color {
    background-color: rgb(96,119,153);
}

.MatrixEditor-table .selection-cell input[type="radio"],
.MatrixEditor-table .selection-cell-header input[type="radio"] {
    display: none;
}

.MatrixEditor-table input,
.MatrixEditor-table textarea,
.MatrixEditor-table select {
    font-size: 14px;
    width: 100%;
}

.MatrixEditor-table textarea {
    display: flex;
}